@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h1>Erro</h1>
        <h2>Ocorreu um erro durante o processamento
            da última requisição.</h2>
    </hgroup>
</body>
</html>
