USE [BrErpSindicatoV04]
GO
/****** Object:  Table [dbo].[rg_status]    Script Date: 03/02/2015 10:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[rg_status](
	[cod_status] [int] IDENTITY(1,1) NOT NULL,
	[descr_status] [varchar](30) NOT NULL,
 CONSTRAINT [PK__rg_statu__0FB62E2D4F12BBB9] PRIMARY KEY CLUSTERED 
(
	[cod_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
