<div class="jumbotron">
    <h1>Utilizando o Enterprise Library</h1>
    <p><a href="http://msdn.microsoft.com/en-us/library/bb399567(v=vs.110).aspx" class="btn btn-primary btn-large">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div style="padding-left: 30px;">
        <h2>Testes com o Enterprise Library</h2>
        <p>
            Esta é uma aplicação de exemplo demonstrando a
            implementação de um mecanismo de CRUD genérico a
            partir do uso do Entity Framework Code First.
        </p>
        <p>
            Clique no link abaixo para acessar o cadastro de Profissionais.
        </p>
        <p><a class="btn btn-default" href='@Url.Action( "Index", "Profissionais") '>Profissionais &raquo;</a></p>
    </div>
</div>