<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="DefaultContext" 
         connectionString="Data Source=158.69.55.11\MSSQLSERVER2012;Integrated Security=False;Initial Catalog=BrSkyNet_Manhattan_Dev;User ID=user_app;Password=3jd64lsai9;Connect Timeout=15;Encrypt=False;Packet Size=4096" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <globalization culture="pt-BR" uiCulture="pt-BR" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.0" newVersion="7.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.0" newVersion="7.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.0" newVersion="7.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <container>
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.CtNivelCincoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.CtNivelDoisDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.CtNivelQuatroDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.CtNivelSeisDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.CtNivelTresDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.CtNivelUmDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.CtPlanoContabilDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.FiNroBancoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.FiTipoCtaBancoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeAplicacaoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeEmpresaDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeEmpresaAplicacaoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeEmpresaConsolDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeGrupoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeGrupoProcessoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeMvcWebProcessoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeParametroDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeProcessoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeSessaoUsuarioDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeTipoProcessoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeTmpValorDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeTmpValorDetDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeUsuarioDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeUsuarioAplicacaoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeUsuarioGrupoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.GeUsuarioProcessoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgEstadoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgMunicipioDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgNaturezaDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgRegGeralDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgRegGeralNaturezaDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgRegiaoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgStatusDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgTelefoneDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgTipoFoneDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgTipoRgDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgTmpAniversarianteDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgEnderecoDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgFisicaJuridicaDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.DataAccessLayer.DataAccessObjects.RgParamRegGeralDAO, BrSkyNet.DataAccessLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.CtNivelCincoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.CtNivelDoisBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.CtNivelQuatroBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.CtNivelSeisBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.CtNivelTresBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.CtNivelUmBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.CtPlanoContabilBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.FiNroBancoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.FiTipoCtaBancoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeAplicacaoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeEmpresaBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeEmpresaAplicacaoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeEmpresaConsolBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeGrupoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeGrupoProcessoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeMvcWebProcessoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeParametroBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeProcessoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeSessaoUsuarioBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeTipoProcessoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeTmpValorBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeTmpValorDetBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeUsuarioBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeUsuarioAplicacaoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeUsuarioGrupoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.GeUsuarioProcessoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgEstadoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgMunicipioBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgNaturezaBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgRegGeralBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgRegGeralNaturezaBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgRegiaoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgStatusBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgTelefoneBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgTipoFoneBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgTipoRgBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgTmpAniversarianteBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgEnderecoBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgFisicaJuridicaBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.BusinessLogicLayer.BusinessObjects.RgParamRegGeralBO, BrSkyNet.BusinessLogicLayer" />
      <register type="BrSkyNet.ObjectRelationalMapping.Contracts.IUnitOfWork, BrSkyNet.ObjectRelationalMapping" mapTo="BrSkyNet.DataAccessLayer.Base.UnitOfWork, BrSkyNet.DataAccessLayer">        
        <lifetime type="Microsoft.Practices.Unity.PerRequestLifetimeManager, Microsoft.Practices.Unity.Mvc" />
      </register>
    </container>
  </unity>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>